@import 'normalize';

body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 26px;
    background-color: #E5E5E5;
}

.container{
    max-width: 1110px;
    margin: 0 auto;
}

.element__title{
    font-weight: bold;
    font-size: 36px;
    line-height: 46px;
    color: #4D533C;
}

.element__text{
    font-size: 16px;
    line-height: 26px;
    color: rgba(33, 56, 66, 0.6);
    margin: 0 0 24px 0;
}

.element__button{
    button{
        cursor: pointer;
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;
        text-decoration-line: underline;
        color: #D4D6D4;
        background: none;
        border: none;
        &:hover{
            color: #4D533C;
        }
    }
}

button{
    background: none;
}

.autor{
    display: flex;
    max-width: 358px;
    height: 90px;
    div{
        .name__autor{
            font-weight: bold;
            font-size: 22px;
            line-height: 33px;
            color: #4D533C;
            margin: 0 0 6px 0;
        }
        
        .position__autor{
            font-size: 16px;
            line-height: 24px;
            color: #152934;
            margin: 0;
        }
    }
}

.block__size{
    width: 453px;
    height: 243px;
    padding: 30px;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
    border-radius: 8px;
}






.header{
    max-width: 1441px;
    background: url(../image/headerBgc.png) 50% no-repeat;
    padding-top: 24px;
    padding-bottom: 210px;
    margin: 0 auto;
    position: relative;
    .header__menu{
        display: flex;
        justify-content: space-between;
        margin-bottom: 121px;
        .header__logo{
            display: flex;
            align-items: center;
            img{
                display: block;
            }
        }
        .header__menu_button{
            cursor: pointer;
            background: none;
            border: none;
        }
    }

    .header__content{
        max-width: 616px;
        .header__suptitle{
            font-size: 14px;
            line-height: 21px;
            color: #FFFFFF;
            margin: 0 0 22px 0;
        }
        .header__title{
            font-weight: bold;
            font-size: 60px;
            line-height: 74px;
            color: #FFFFFF;
            margin: 0 0 22px 0;
        }
        .header__text{
            font-size: 16px;
            line-height: 26px;
            color: #FFFFFF;
            margin: 0 0 45px 0;
        }
        .header__button{
            button{
                cursor: pointer;
                font-weight: 700;
                font-size: 16px;
                line-height: 18px;
                text-decoration-line: underline;
                color: #FFD723;
                background: none;
                border: 0;
            }
        }
        .client{
            position: absolute;
            padding: 60px 166px 54px 65px;
            background: #FFFFFF;
            box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
            border-radius: 2px;
            right: 0;
            bottom: -103px;
            img{
                &:not(:last-child){
                    margin-right: 66px;
                }
            }
        }
    }
}

.strategy{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: 644px;
    padding-bottom: 150px;
    .strategy__content{
        max-width: 475px;
        margin-right: 160px;
        .strategy__suptitle{
            font-size: 14px;
            line-height: 21px;
            color: rgba(77, 83, 60, 0.9);
            margin-bottom: 0 0 29px 0;
        }
        .strategy__title{
            max-width: 474px;
            margin: 0 0 35px 0;
        }
        .strategy__text{
            margin: 0 0 42px 0;
        }
    }

    .strategy__about_us{
        max-width: 474px;
        padding: 244px 8px 20px 40px;
        box-sizing: border-box;
        background: #FFFFFF;
        box-shadow: 0px 100px 100px rgba(0, 0, 0, 0.145947);
        .strategy__description{
            font-style: italic;
            font-size: 24px;
            line-height: 40px;
            color: #4D533C;
        }
    }
}

.main{
    margin-top: 150px;
    padding-bottom: 150px;
    .main__project{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 110px;
        .project__title{
            max-width: 325px;
            margin-right: 133px;
        }
        .project__description{
            font-style: italic;
            max-width: 518px;
        }
    }

    .main__section{
        max-width: 1440px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        &:not(:last-child){
            margin-bottom: 100px;
        }
        .main__img_left{
            width: 775px;
            height: 615px;
            position: relative;
            background: url(../image/Balenciaga.png) center no-repeat;
            margin-right: 90px;
            img{
                height: auto;
            }
            .main__review{
                position: absolute;
                right: -40px;
                bottom: -35px;
            }
        }
        .main__img_right{
            width: 775px;
            height: 615px;
            position: relative;
            background: url(../image/3dModel.png) center no-repeat;
            margin-left: 58px;
            img{
                height: auto;
            }
            .main__review{
                position: absolute;
                left: -40px;
                bottom: -35px;
            }
        }
        .last__element{
            background: url(../image/Booking.png) center no-repeat;
        }
    }

    .main__descriprion{
        max-width: 470px;
        .main__title{
            margin: 0 0 24px 0;
        }
        .main__text{
            margin: 0 0 90px 0;
        }
    }
}

.idea{
    border-top: 1px solid rgba(33, 56, 66, 0.0955529);
    padding-top: 150px;
    margin-bottom: 322px;
    .idea__title{
        font-weight: bold;
        font-size: 36px;
        line-height: 46px;
        color: #4D533C;
        margin: 0 0 60px 0;
    }
    .idea__block{
        display: flex;
        justify-content: space-between;
        .idea__item{
            padding: 30px;
            box-sizing: border-box;
            width: 255px;
            height: 309px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .idea__item__title{
                font-weight: 500;
                font-size: 24px;
                line-height: 34px;
                text-transform: uppercase;
                color: #4D533C;
                margin: 0 0 20px 0;
            }
            .idea__item__text{
                font-size: 14px;
                line-height: 26px;
                color: rgba(33, 56, 66, 0.6);
            }
            .idea__item__button{
                button{
                    font-size: 16px;
                    line-height: 18px;
                    color: #D4D6D4;
                    border: 0;
                    &:hover{
                        color: #FFD723;
                    }
                }
            }
        }
    }
}

.footer{
    max-width: 1440px;
    margin: 0 auto;
    background: url(../image/bgcFooter.png) 50% no-repeat;
    position: relative;
    .block__white{
        position: absolute;
        top: -190px;
        left: 0;
        box-sizing: border-box;
        padding: 70px 260px 70px 164px;
        width: 1275px;
        height: 362px;
        background: #FAFAFA;
        box-shadow: 50px 130px 100px rgba(0, 0, 0, 0.145947);
        .block__white_title{
            font-weight: bold;
            font-size: 60px;
            line-height: 74px;
            color: #4D533C;
            margin: 0 0 50px 0;
        }
    }

    .footer__info{
        display: flex;
        margin-top: 310px;
        margin-bottom: 52px;
        border-bottom: 1px solid rgba(33, 56, 66, 0.0955529);
        .footer__info_item{
            width: 250px;
            .footer__suptitle{
                font-size: 16px;
                line-height: 40px;
                color: #B6C197;
            }
            .footer__subtitle{
                font-weight: bold;
                font-size: 16px;
                line-height: 40px;
                color: #FFFFFF;
            }
        }
    }

    .footer__position{
        margin-top: 90px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 60px;
        border-bottom: 1px solid rgba(33, 56, 66, 0.0955529);
        .footer__section{
            .footer__title{
                font-weight: 600;
                font-size: 16px;
                line-height: 38px;
                text-transform: uppercase;
                color: #FFFFFF;
                margin: 0 0 21px 0;
            }
            ul{
                padding: 0;
                margin: 0;
                .footer__list{
                    list-style: none;
                    font-size: 16px;
                    line-height: 40px;
                    color: #B6C197;
                    &:not(:last-child){
                        margin-bottom: 15px;
                    }
                }
            }
            .footer__description{
                font-size: 16px;
                line-height: 40px;
                color: #B6C197;
            }
            .footer__email{
                font-weight: bold;
                font-size: 24px;
                line-height: 38px;
                color: #FFFFFF;
                margin-bottom: 24px;
            }
            .footer__socials{
                display: flex;
                justify-content: space-between;
                width: 220px;
                img{
                    border-radius: 50px;
                    padding: 5px;
                    width: 33px;
                    background-color: #444A34;
                    &:hover{
                        background-color: #FFD723;
                    }
                }
            }
        }
    }

    .footer__copy{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 24px;
        .footer__copy_text{
            font-size: 14px;
            line-height: 21px;
            color: #B5C096;
        }
    }
}